<h1 class="p-3">Contact Management</h1>
<section class="contact-lists-wrapper d-flex flex-column justify-center gap-3 p-3">
    <input class="form-control" type="text" (input)="onSearch($event)" placeholder="Universal search" />
    <section class="contact-lists-section list-group">
        <div class="contact-lists list-group-item" *ngFor="let item of contactsList; let i = index"
            [ngClass]="innerWidth >= 1000 && item.isSelected ? 'active ':''" (click)="onClickContact(item)">

            <div class="list-card d-flex gap-4">
                <div class="d-flex justify-content-center align-items-center">
                    <img [src]="item.profile_pic" alt="" srcset="">
                </div>
                <div class="card-data">
                    <div><span>{{item.name}}</span>
                        <span>{{' ('+item.dob + ')'}}</span>
                    </div>
                    <div class="d-flex gap-4">
                        <span class="min-w130"><strong>Ph:</strong>{{" "+item.phone_no}}</span>
                        <span class="text-truncate" style="width: 250px;"><strong>Address:</strong>{{"
                            "+item.address}}</span>
                    </div>
                </div>
            </div>
            
        </div>
        <p class="m-auto" *ngIf="!contactsList.length">No Contact found</p>
    </section>
    <mat-paginator [length]="this.contactsListData.length" [pageSize]="this.pageSize" (page)="onPageChange($event)">
    </mat-paginator>
</section>