.contact-lists-wrapper {
  width: 100%;

  .contact-lists-section {
    overflow-y: auto;
    height: calc(100dvh - 270px);
    border: 1px solid #dee2e6;
    border-radius: 0;
    .contact-lists {
      .list-card {
        img {
          width: 50px;
          height: 50px;

          border-color: #86b7fe;
          outline: 0;
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
          border-radius: 50%;
        }
        .card-data{
          width: 100%;
        }
        .min-w130 {
          min-width: 130px;
        }
      }
    }
  }
  .list-group-item {

    cursor: pointer;
    border-right: none;
  }
  .list-group-item:first-child,
  .list-group-item:last-child {
    border-top: none;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .list-group-item.active {
    background-color: #cde1ff;
    border-color: transparent;
    color: #6ca6fd;
  }
}


:host {
  ::ng-deep .mat-mdc-paginator-page-size {
    display: none !important;
  }
}
