/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  background: #fff;
}


::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  cursor: pointer;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
